ul{
   list-style: none;
}
footer{
    position:absolute;
    left: 2%;
    right: 10%;
    bottom: 2em;
    width: 100%;
    display: flex;
    justify-content: space-between;
    text-align: center;


    

    @include media('<=phone'){
        flex-direction: column;
        text-align: center;
        left: 0;
        width: 85%;
    }
    @include media('>phone', '<=425px'){
        flex-direction: column;
        text-align: center;
        left: 0;
        width: 85%;
    }

}
.mobile-only{
display: none;
@include media('<=phone'){
    display: inline;
    align-self: center;
    margin-left: 10%;
}
@include media('>phone', '<=425px'){
    display: inline;
    align-self: center;
    margin-left: 10%;
    
}
}

.footer-left{
    left: 4em;
    order: 1;
    @include media('>phone', '<=425px'){
        text-align: center;
    }


}
.footer-right{
    position: relative;
    right: 8em;
    text-align: right;
    order: 3;
    @include media('<=xphone'){
        position: static;
        .soon{
            display: none;
        }
    }
    @include media('<=phone'){
        text-align: center;
        .soon{
            display: none;
        }
    }
    @include media('>=phone', '<=425px'){
      text-align: center;
      display: inline;
      align-self: center;
      position: static;

      .soon{
          display: none;
      }
    }
    @include media('<=tablet'){
        right: 4em;
    }

}
.footer-center{
    display: inline;
    align-self: center;
    order: 1;
    flex-grow: 4;

    li{
        display: inline-block;
        padding: 0 1em 0 0;
        &:last-child {
            padding-right: 0;
        }
    }

    @include media('<=desktop'){
        margin-left: 5%;
    }


    @include media('<=tablet'){
        margin-left: 0%;
    }


}